body {
  background-color: rgb(43, 42, 42);
}
.print {
  width: 100%;
  margin: auto;
  height: 100%;
  border: 1px solid #0089A2;
}


canvas {
  border: solid 5px red;
  width: 100%;
  height: 100%;
}

img:active {
  border: solid 1px #fff;
}

.none {
  display: none;
  visibility: hidden;
}

.btn-s {
  background-color: #ffc107;
}
#can {
  position: relative;
  text-align: center;
  color: white;
}

body {
  height: 100vh;
}

.name {
  position: absolute;
  top: 81%;
  left: 50%;
  direction: rtl;
  text-align: center;
  transform: translate(-50%, -50%);
  word-spacing: 5px;
  color: #fff;
  font-weight: bolder;
  font-size: 150%;
  font-family: sans-serif;
}


.bla {
  width: 300px;
  height: 500px;
}



/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
 [type=radio]:checked + img {
  /* outline: 2px solid #f00; */
} 


 
.balloon { 
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
  padding-top: 30px;
  position: relative;
}
.balloon > div {
   width:104px;
  height:140px; 
  background: #ffc107;
  border-radius:0;
  border-radius:80% 80% 80% 80%;
  margin: 0 auto;
  position: absolute;
  padding:10px;
  box-shadow:inset 17px 7px 10px #ffc107; 
  -webkit-transform-origin: bottom center; 
}
.balloon > div{
  background: #ffc107;
  left: 0; 
  box-shadow:inset 10px 10px 10px darken(#ffc107, 10%);
  -webkit-animation:balloon1 6s ease-in-out infinite;
  -moz-animation:balloon1 6s ease-in-out infinite;
  -o-animation:balloon1 6s ease-in-out infinite;
  animation:balloon1 6s ease-in-out infinite;
  &:before { 
   color: #ffc107 ;
  }

}



.balloon > div:before {
  color:#ffc107;
  position:absolute;
  bottom:-11px;
  left: 52px;  
  content:"▲";
  font-size:1em;
}



/*BALLOON 1 4*/
@-webkit-keyframes balloon1 {
  0%,100%{ -webkit-transform:translateY(0) rotate(-6deg);}
  50%{ -webkit-transform:translateY(-20px) rotate(8deg); }
}
@-moz-keyframes balloon1 {
  0%,100%{ -moz-transform:translateY(0) rotate(-6deg);}
  50%{ -moz-transform:translateY(-20px) rotate(8deg); }
}
@-o-keyframes balloon1 {
  0%,100%{ -o-transform:translateY(0) rotate(-6deg);}
  50%{ -o-transform:translateY(-20px) rotate(8deg); }
}
@keyframes balloon1 {
  0%,100%{ transform:translateY(0) rotate(-6deg);}
  50%{ transform:translateY(-20px) rotate(8deg); }
}
